

 #add {
  /* Uniquement centrer le formulaire sur la page */
  
 float:left;
 
  /* EncadrÃ© pour voir les limites du formulaire */
  width: 25vw;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  
  background-color: rgb(171, 197, 201);
}

#filtreVeh{
      /* Uniquement centrer le formulaire sur la page */
  float:left;
     
      /* EncadrÃ© pour voir les limites du formulaire */
      width: 25vw;
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
      background-color: rgb(171, 197, 201);

}
#delete{
          /* Uniquement centrer le formulaire sur la page */
          float:left;
     
         
          /* EncadrÃ© pour voir les limites du formulaire */
          width: 25vw;
          padding: 1em;
          border: 1px solid #CCC;
          border-radius: 1em;
          background-color: rgb(171, 197, 201);
}
#firetype-select{ /* Uniquement centrer le formulaire sur la page */
  
  float:left;
     
 width: 15vw;
  /* EncadrÃ© pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
background-color: rgb(236, 192, 71);

}
